@import "/styles/common";
.container {
  position: relative;
  color: var(--textWhite);
  max-width: $innerWidth;
  margin: auto;
  height: 60px;
  text-align: center;
}
.iconButton {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background: var(--webcolor5);
  color: var(--textWhite);
  border-radius: 30px;
  font-size: 25px;
  cursor: pointer;
}