$maxWidth: 1200px;
$innerWidth: 1100px;
$blueNumber: #33FFFF;
$bgBlack: #1A1A1A;
$bgPink: #FF2079;
$successColor: #52CCA3;
$errorColor: #E03F3F;
$textGray: rgba(250, 250, 250, 0.6);
$textBlue: #1AB2FF;
$webBG1: linear-gradient(92.51deg, #1d2129, #2f1c25);
$webBG2: linear-gradient(92.51deg, #29323e, #362d3a);