:root{
  --listcard: #2d3a41;
  --background: #1a1a1a;
  --message: #1ab2ff;
  --textWhite: #fafafa;
  --textWhite15: rgba(250, 250, 250, 0.15);
  --textWhite30: rgba(250, 250, 250, 0.3);
  --textWhite60: rgba(250, 250, 250, 0.6);
  --webcolor2: #FF2079;
  --webcolor5: linear-gradient(92.51deg, rgba(60, 100, 177, 0.1) 0.66%, rgba(255, 32, 121, 0.1) 110.16%);
  --success: #52CCA3;
  --btnShadow: 0px 8px 12px #232D32;
  --mainColor: #FFD500;
}